# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

bin/
target/
.*
.*/
*.yml
*.iml
*.class
*.exe
*/**/.*
*/**/.*/
*/**/*.yml
*/**/*.iml
*/**/*.class
/vendor/*
!/vendor/vendor.json
go.sum
!.gitignore
